.search-container {
  // Un borde redondeado más pronunciado para un look más moderno.
  border-radius: 0.75rem;

  // Opcional: añade un toque de color o un degradado sutil al fondo.
  // background: linear-gradient(135deg, #ffffff 0%, #f7f9fc 100%);
}


.input-group > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.background-img {
  position: absolute;
  top: -7;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1; // Asegura que la imagen esté detrás del contenido
  opacity: 0.80; // Ajusta la opacidad para que el texto sea legible
}

.search-container{
  position: relative;
  z-index: 1; // Asegura que el contenido del formulario esté por encima de la imagen de fondo
}

.card-body{
  margin-top: 10%;
}