.input-group > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.background-img {

  top: -7;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1; 
  opacity: 0.80; 
}

.custom-search-container{
  position: relative;
  z-index: 1; 
  background-image: url('../../../assets/images/renta.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  align-items: center;
}

.card-body{
  margin-top: 10%;
}

.search-align{
  width: 60%;
}